<ion-header>
  <ion-toolbar>
    <ion-title>{{ subject.sigla_asig }} {{ subject.sigla_secc  }}</ion-title>
  <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="classes">



<ion-icon name="calendar-outline"></ion-icon>
       <ion-label>Historial de clases</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="class">

<ion-icon name="calendar-number-outline"></ion-icon>
       <ion-label>Clase</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>





</ion-content>



