<ion-content>
  <ion-fab [activated]="true" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentAlert()">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-grid>
<ion-row>
  <ion-col size="1"> </ion-col>
  <ion-col>

      <ion-row>
<ion-list-header style="font-weight:bold;"> Presentes </ion-list-header>
<ion-list  *ngFor="let  a of lista">
  <ion-item *ngIf="a.estado_asistencia == 'presente' else ausente" >
    <ion-label >{{ a.nombre_usuario }} <ion-chip color="success">presente</ion-chip>   </ion-label>
  </ion-item>

  <ion-item *ngIf="a.estado_asistencia != 'presente'">
            <ion-label >{{ a.nombre_usuario }} <ion-chip color="danger">ausente</ion-chip></ion-label>
          </ion-item>

       </ion-list>
      </ion-row>
    </ion-col>

</ion-row>
</ion-grid>
</ion-content>
