<ion-content>
<ion-card>
  <ion-card-header color="primary">
    <ion-card-title>Horario {{names}}</ion-card-title>

  </ion-card-header>

  <ion-card-content>
<ion-accordion-group expand="inset">
  <ion-accordion [value]="b.id" *ngFor="let b of days">
    <ion-item slot="header" >
      <ion-label >{{b.name}}</ion-label>
    </ion-item>
    <div *ngFor="let a of courses" class="ion-padding" slot="content">
     {{a.hora}} {{a.name}}
    </div>
  </ion-accordion>
</ion-accordion-group>
  </ion-card-content>
</ion-card>
<ion-card>
<ion-card-header color="primary">

  <ion-card-title>Asignaturas inscritas</ion-card-title>
</ion-card-header>

<ion-card-content>


<ion-list   *ngFor="let a of courses">
  <ion-item (click)="goToCourse(a.id)"  >
    <ion-label >{{a.name}}
 <p color="secondary">{{a.abr}} </p>
    </ion-label>
<ion-chip color=success>{{a.ass | percent}}</ion-chip>
  </ion-item>
</ion-list>
</ion-card-content>
</ion-card>
</ion-content>
